extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5   
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita odio ipsa voluptate provident labore ratione, quasi vel dolorem placeat odit magnam cumque voluptatibus deleniti iure rem aliquam optio nihil cum!
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam adipisci dolore, eius harum deserunt facere nemo esse reiciendis quae ut expedita! Doloremque voluptatum eius assumenda possimus? Dignissimos molestias inventore officia!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquam deleniti totam facere amet id tenetur alias dicta, voluptatum illo iste! Inventore nobis beatae eos molestiae aliquid maiores iusto eaque!
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", clas="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium numquam sunt illum necessitatibus iste. Accusantium commodi, a consequatur repellendus dolorum quod dolor
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="Icono destinos", clas="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium numquam sunt illum necessitatibus iste. Accusantium commodi, a consequatur repellendus dolorum quod dolor
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="Icono precios", clas="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium numquam sunt illum necessitatibus iste. Accusantium commodi, a consequatur repellendus dolorum quod dolor

            

